<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1071096343038-h05n5gu1cdjadu5sh03aurn7ucv53m55.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1071096343038-h05n5gu1cdjadu5sh03aurn7ucv53m55</string>
	<key>API_KEY</key>
	<string>AIzaSyAOyyaRqWOrL3WIYjvOEzdTn921zshKN1A</string>
	<key>GCM_SENDER_ID</key>
	<string>1071096343038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.github.jheisecke.flashchat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-26795</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-26795.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071096343038:ios:3fed43f3f39f7e61df78af</string>
</dict>
</plist>